{{define "base"}}

<!DOCTYPE html>
<html>
  <head>
    <title>Greeting Board Go Version</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class=page>
      <h1>Greeting Board Go Version</h1>
      <div class=flash>
        {{if .CurrentUser}}
        Hello {{.CurrentUser}}!!
        {{else}}
        Hello guest user!!
        {{end}}
      </div>

      <ul class=entries>

        {{range .Greetings}}
          {{with .Author}}
             <li><h2>{{.}} wrote:</h2>
          {{else}}
             <li><h2>An anonymous person wrote: </h2>
          {{end}}

          {{.Content}}

        {{else}}
          <li><em>Unbelievable. No greetings here.</em>
        {{end}}
      </ul>


      <form action="/sign/{{.Guestbook_name}}" method="post">
        <dl>
          <dt>Comment:
            <dd><textarea name="content" rows="3" cols="60"></textarea>
            <dd><input type="submit" value="Sign Guestbook">
        </dl>
      </form>

      <form>
        <dl>
          <dt>Guestbook name:
          <dd><input value="{{.Guestbook_name}}" name="nameOfBook">
          <dd><input type="submit" value="switch">
        </dl>
      </form>

      <a href="{{.LoginUrl}}">{{ .LoginStr}}
  </body>
</html>
{{end}}
